main {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 1%;
  
}

.text-editor-wrapper {
  position: relative;
}

.text-editor {
  border: gray 5px solid;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  height: 100%;
  max-height: 500px;
  min-height: 500px;
  resize: none;
  background: black;
  color: white;
  caret-color: red; 
  font-family: monospace;
  font-size: 20px;
  line-height: 25px;
  z-index: 1;
  position: relative;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.shadow-input {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 6;
}

.vim-tilda {
  color: rgb(147, 66, 223);
  font-weight: bold;
}

.control-panel-wrapper {
  background-color: lightblue;
  height: 100%;
}

.control-panel {
  padding: 10px;
}
.caret {
  background-color: white;
}